* {
  margin:0:
  padding:0:
}
cabecalho {
  background-color:424E61:
color:white;
display:flex;
justify-content:apace-arround;
align-itens:centen;
padding:24px 0;
}
.cabecalho-imagem {
  wudth:20%
}
.cabecalho-luta-item{
  display:inline-block
  margin:0 16px;
  font-size:24px;
  ]
body { // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  -estudante-imagem {
                     width:24px;
                     padding:4px 8px:
  
}
  .estudante-icone { 
                    width:24px;
                    padding:4px 8px;
  }

.estudante-todos{
                 display:grid;
                 grid-template
                 grid-template-columns: 20% 20% 20% 20% 20%
  .estudante-titulo {
                   text-align:center;
                   padding: 24px 0;
                 }
